@model kiosko.Models.Modulo;
@{
    ViewData["Title"] = "Details";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h2>@Html.DisplayFor(model => model.Titulo)</h2>
            <div class="row">
                <div class="col-lg-8">
                    <input type="hidden" value="@Html.DisplayFor(model => model.Id)" id="idModulo" />
                    <div class="row" id="containerComponents">
                    </div>
                </div>
                <div class="col-lg-4 container-general">
                        <div class="container-button-menu"> 
                            <button class="button-class mb-4" onclick="saveChanges()">Guardar</button>
                        </div>
                        <div class="showmenu-container">
                        <button class="showmmenu-button" onclick="showMenu()">+</button>
                        </div>
                        
                        <div class="menu-container"> 
                            <ul id="menu" style="display: none">
                                <li class="option-menu is-general" onclick="addComponent('texto', 0)">Texto</li>
                                <li class="option-menu is-general" onclick="addComponent('subtitulo', 0)">Subtitulo</li>
                                <li class="option-menu is-general" onclick="addComponent('imagen', 0)">Imagen</li>
                                <li class="option-menu is-general" onclick="addComponent('desplazante-texto-imagen', 0)">Desplazante Texto-Imagen</li>
                                <li class="option-menu is-general" onclick="addComponent('video', 0)">Video</li>
                                <li class="option-menu is-acceso" onclick="addComponent('enlace', 0)">Enlace</li>
                                <li class="option-menu is-general" onclick="addComponent('banner-informativo', 0)">Banner Informativo</li>
                                <li class="option-menu is-general" onclick="addComponent('pop-up-video', 0)">Pop-Up Video</li>
                                <li class="option-menu is-general" onclick="addComponent('video-guía', 0)">video-guía</li>
                                <li class="option-menu is-general" onclick="addComponent('acceso-cursos', 0)">Acceso-cursos</li>
                                <li class="option-menu is-general" onclick="addComponent('carrucel', 0)">Carrucel</li>
                                <li class="option-menu is-general" onclick="addComponent('pop-up', 0)">Pop-up</li>
                                <li class="option-menu is-aviso" onclick="addComponent('aviso-inicial', 0)">Aviso</li>
                                <li class="option-menu is-general" onclick="addComponent('desplegable-texto-imagen', 0)">Desplegable texto-imagen</li>
                                <li class="option-menu is-general" onclick="addComponent('desplegable-texto-imagen-imagen', 0)">Desplegable texto-imagen-imagen</li>
                                <li class="option-menu is-general" onclick="addComponent('texto-imagen', 0)">Texto Imagen</li>
                                <li class="option-menu is-general" onclick="addComponent('imagen-titulo-descripción', 0)">Imagen + titulo + descripción</li>
                                <li class="option-menu is-general" onclick="addComponent('titulo-descripción', 0)">Titulo + descripción</li>
                                <li class="option-menu is-general" onclick="addComponent('subtitulo-descripción', 0)">Subtitulo + descripción</li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts {
<script type="text/javascript">
    var valiDimetions;
    $(function () {
       $("#containerComponents").sortable();
    });
    var idModulo = $("#idModulo").val();
    var padre = "modulo"+idModulo;
    var indexImagen = 1;
    var indexCardTi = 1;
    var indexCardIm = 1;
    var DropzoneVideo;
    if(idModulo == 1){
        $(".is-general").css("display", "none");
        $(".is-aviso").css("display", "none");
        $(".is-acceso").css("display", "none");
    }else if (idModulo == 2){
        $(".is-aviso").css("display", "block");
        $(".is-general").css("display", "none");
        $(".is-acceso").css("display", "none");
    }else{
        $(".is-aviso").css("display", "none")
        $(".is-general").css("display", "block");
        $(".is-acceso").css("display", "none");
    }
    
    loadComponents();
    function loadComponents() {
        $("#containerComponents").empty();
        $.ajax({
          type: "POST",
          url: "/Componentes/GetAllComponentsForModulo",
          data: { "idModulo": idModulo},
          success: function (response) {
            console.log(response);
            let fromDb = 1;
            response.map(item => {
              addComponent(item.tipoComponente, item.id, item, fromDb);
            });
          }
        });
    }
  var isShowing = "block";
  function showMenu() {
  	console.log('entro');
      $("#menu").css("display", isShowing);
      if(isShowing == "block"){
      	isShowing = "none";
      }else{
      	isShowing = "block";
      }
  }
    function addComponent(type, pkId, item, fromDb) {
      let component = generateComponent(type, pkId, item);
      $("#containerComponents").append(component.component);
      if(!fromDb){
          $('html, body').animate({
            scrollTop: $("#"+component.idComponent).offset().top
          }, 1000);
      }
    }
    function removeComponent(idComponent, type) {
      let idComponente = $("#"+idComponent).attr("db-id");
      console.log(idComponente);
      let isDb = idComponente === "0";
      let urlAction = "/Componentes/deleteComponent";
      if(type == "cardRelatedImage"){
          urlAction = "/Componentes/deleteDesplazante";
      }
      Swal.fire({
        title: '¿Está seguro que desea borrar este componente?',
        text: "Los cambios no podrán ser revertidos!",
        imageUrl: '/img/señalroja.png',
        imageHeight: 212,
        showCancelButton: true,
        confirmButtonColor: '#E11F1C',
        cancelButtonColor: '#5A5A5A',
        confirmButtonText: 'Eliminar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          $("#"+idComponent).remove();
          if(!isDb){
              console.log("diferente");
              $.ajax({
                type: "POST",
                url: urlAction,
                headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
                data: {id: idComponente},
                success: function (response) {
                  console.log('deleted');
                  console.log(response);
                  Swal.fire({
                   title: 'Bien!',
                   text: 'Los componentes se han actualizado con exito!',
                   imageUrl: '/img/señalverde.png',
                   imageHeight: 212,
                   
                   timer: 1500
                  }
                  )
                  saveChanges();
                }
              });
          }
          
        }
      })
    }
    var _URL = window.URL || window.webkitURL;
    function generatePreview(stringId,indexImagen,type) {
      let idImg = "imagen"+stringId+"-"+indexImagen;
      let stringIdImg = "'card-img-"+stringId+"-"+indexImagen+"'";
      let idImglabel = "imagenlabel"+stringId+"-"+indexImagen;
      let idImgclose = "imagenclose"+stringId+"-"+indexImagen;
      let idPreview = "imgPreview"+stringId+"-"+indexImagen;
      let imgFile = $("#"+idImg).prop("files");
      imgFile = imgFile[0];
      console.log(imgFile);
      let reader = new FileReader();
      reader.readAsDataURL(imgFile);
      $("#"+idImglabel).css("display","none");
      $("#"+idImgclose).css("display","block");
      let classBtnClose = "";
      switch(type) {
          case 'imagen':
            classBtnClose = "button-close";
          break;
          case 'carrucel':
            classBtnClose = "button-close-carroucel";
          break;
          case 'desplegable-texto-imagen':
            classBtnClose = "button-close-carroucel";
          break;
          case 'pop-up':
            classBtnClose = "button-close";
          break;
          case 'desplegable-texto-imagen-imagen':
            classBtnClose = "button-close-carroucel";
          break;
          default:
            classBtnClose = "button-close-small";
      }
      reader.onload = function() {
          var image = new Image();
          image.src = reader.result;
          
          image.onload = function () {
            var height = this.height;
            console.log("height", height)
            var width = this.width;
            console.log("width", width)
            valiDimetions = ValidateDimention(type,width, height) ;
            if (valiDimetions.success == true){
                let preview = $("#"+idPreview);
                $("#"+idPreview).empty();
                stringId = "'"+stringId+"'";
                console.log(type);
                if(type != "carrucel"){
                    console.log('entro if');
                    $("#"+idPreview).append('<button id="imagenclose'+stringId+'-'+indexImagen+'"  class="'+classBtnClose+'"  onclick="deletePreview('+stringId+','+indexImagen+')">x</button>');
                }
                let imagen = document.createElement('img');
                imagen.src = reader.result;
                preview.innerHTML = "";
                preview.append(imagen);
                console.log("Entro true");
            }
            if (valiDimetions.success == false){
              Swal.fire({
                  title: 'Error',
                  text: valiDimetions.msg,
                  imageUrl: '/img/señalroja.png',
                  imageHeight: 212,
                  showConfirmButton: false,
                  timer: 3000
              })
              deletePreview(stringId,indexImagen);
              console.log("Entro false");
              return true
            }
          };
          console.log(valiDimetions);
      }
    }
    function ValidateDimention(type, width, height){
        switch(type) {
          case 'imagen':
            if(width > 705 || height > 900){
                return {success:false, msg:"El ancho máximo de la imagen no debe ser mayor a 700 pixeles y de alto 900 pixeles "};
            } 
          break;
          case 'desplazante-texto-imagen':
            if(width > 90){
                return {success:false, msg:"El ancho máximo de la imagen no debe ser mayor a 90 pixeles"};
            }
          break;
          case 'carrucel':
            if(width > 600){
                return {success:false, msg:"El ancho máximo de la imagen no debe ser mayor a 600 pixeles"};
            }
          break;
          case 'desplegable-texto-imagen':
            if(width > 200){
                return {success:false, msg:"El ancho máximo de la imagen no debe ser mayor a 200 pixeles"};
            }
          break;
          case 'pop-up':
            if(width > 500){
                return {success:false, msg:"El ancho máximo de la imagen no debe ser mayor a 500 pixeles"};
            }
          break;
          case 'aviso-inicial':
            if(width > 500){
                return {success:false, msg:"El ancho máximo de la imagen no debe ser mayor a 500 pixeles"};
            }
          break;
          case 'desplegable-texto-imagen-imagen':
            if(width > 200){
                return {success:false, msg:"El ancho máximo de la imagen no debe ser mayor a 200 pixeles"};
            }
          break;
          default:
            return {success:true, msg:""};
        }
        return { success:true, msg:" " };
    }
    function ValidateImgAviso(type, url) {
        switch(type) {
          case 'aviso-inicial':
            if(url == "" || url == null){
                return {success:false };
            } 
          break;
          default:
            return {success:true };
        }
        return { success:true };
    }
    function deletePreview(stringId,indexImagen){
      let idImg = "imagen"+stringId+"-"+indexImagen;
      let idImglabel = "imagenlabel"+stringId+"-"+indexImagen;
      let idPreview = "imgPreview"+stringId+"-"+indexImagen;
      let idImgclose = "imagenclose"+stringId+"-"+indexImagen;
      $("#"+idImglabel).css("display","block")
      $("#"+idPreview).empty();
      $("#"+idImg).attr("customValue","");
      console.log (idImg);
      $("#"+idImgclose).css("display","none")
    }
    function AddTextoImagen(stringId, type){
        let idImg = "imagen"+stringId+"-"+indexImagen;
        let idPreview = "imgPreview"+stringId+"-"+indexImagen;
        let newStringId = "'"+stringId+"'";
        let stringType = "'"+type+"'";
        let idImgLabel = "imagenlabel"+stringId+"-"+indexImagen;
        let idCardTi = "card-ti-"+stringId+"-"+indexCardTi;
        let stringIdCardTi = "'card-ti-"+stringId+"-"+indexCardTi+"'";
        $("#text"+stringId).append(
            '<div class="card-texto-imagen" id="'+idCardTi+'" db-id="0">'+
              '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringIdCardTi+','+stringType+')">'+
              '<div class="card-imagen">'+
                  '<p>Imagen</p>'+
                  '<label for="'+idImg+'" id="'+idImgLabel+'" class="btn-img">'+
                    '<img src="/img/icono-imagen-chico.png" class="label-imagen-1"/>'+
                  '</label>'+
                  '<input type="file" id="'+idImg+'" onchange="generatePreview('+newStringId+','+indexImagen+','+stringType+')" typeInput="img" class="input-img" customValue="'+item.url+'">'+
                  '<div id="'+idPreview+'" class="preview-img-small"></div>'+
              '</div>'+
              '<input class="titulo-input mt-4" type="text" typeInput="titulo" placeholder="Titulo">'+
              '<br/>'+
              '<input type="text" placeholder="Texto" typeInput="texto" class="mt-4">'+
              '<input class="Color-Selector" type="color" typeInput="color" value="">'+
            '</div>'
        );
        indexImagen = indexImagen + 1;
        indexCardTi = indexCardTi + 1;
    }
    function generateDropImagen(stringId){
      Dropzone.autoDiscover = false;
      let DropImagen = {
        maxFilesize: 5,
        acceptedFiles: ".png",
        addRemoveLinks: true,
        clickable: true,
        thumbnailWidth: 140,
        thumbnailHeight: 140,
        init: function() {
          this.on("maxfilesexceeded", function(file) {
            this.removeAllFiles();
            this.addFile(file);
          });
        }
      }
      $("form#DropImagen"+stringId).dropzone(DropImagen);
    }
    function generatePreviewVideo(stringId){
      var file = $('#video'+stringId).prop('files');
      file = file[0];
      $("#videolabel"+stringId).css("display","none");
      $("#videoclose"+stringId).css("display","block");
      let readerVideo = new FileReader();
      readerVideo.readAsDataURL(file);
      readerVideo.onload = function(){
        let preVideo = $('#previewVideo'+stringId);
        $('#previewVideo'+stringId).empty();
        let videoId = "'"+stringId+"'"
        $('#previewVideo'+stringId).append('<button id="videoclose'+stringId+'"  class="button-close-video"  onclick="deletePreviewVideo('+videoId+')">x</button>');
        video=document.createElement('video');
        video.src = readerVideo.result;
        video.style.width = "400px";
        video.controls = true;
        preVideo.innerHTML = "";
        preVideo.append(video);
      }
    }
    function deletePreviewVideo(stringId){
      $("#videolabel"+stringId).css("display","block");
      $("#previewVideo"+stringId).empty();
      $("#videoclose"+stringId).css("display","none");
    }
    function addImageToCarroucel(stringId,type){
        let idImg = "imagen"+stringId+"-"+indexImagen;
        let idLabelImg = "imagenlabel"+stringId+"-"+indexImagen;
        let idPreview = "imgPreview"+stringId+"-"+indexImagen;
        let newStringId = "'"+stringId+"'";
        let stringType = "'"+type+"'";
        let idCardIm = "card-img-"+stringId+"-"+indexCardIm;
        let stringIdCard = "'card-img-"+stringId+"-"+indexCardIm+"'";
        console.log(idCardIm);
        console.log(stringIdCard);
        let typeRelated = "'cardRelatedImage'";
        $("#containerCarroucel"+stringId).append(
            '<div class="card-imagen-carroucel" id="'+idCardIm+'" db-id="0">'+
                '<button id="imagenclose'+stringId+'-'+indexImagen+'"  class="button-close-carroucel"  onclick="removeComponent('+stringIdCard+','+typeRelated+')">x</button>'+
                '<label for="'+idImg+'" id="'+idLabelImg+'" class="btn-img">'+
                 '<img src="/img/icono-imagen-chico.png" class="label-imagen-1"/>'+
                '</label>'+
                '<input type="file" id="'+idImg+'" onchange="generatePreview('+newStringId+','+indexImagen+','+stringType+')" typeInput="img" class="input-img">'+
                '<div id="'+idPreview+'" class="preview-img-carroucel"></div>'+
            '</div>'
        );
        indexImagen = indexImagen + 1;
        indexCardIm = indexCardIm + 1;
    }
    function generateCardsImages(stringId, idComponent, item, pkId, stringType) {
        let images = [{
            "id": "0",
            "url": "/img/icono-imagen-chico.png",
            "titulo": "",
            "texto": "",
            "files": "",
            "idComponente": pkId
        }];
        if(item.length > 0){
            images = item;
        }
        let component = "";
        let typeRelated = "'cardRelatedImage'";
        images.map((item) => {
            let preview = "";
            let styleLabel = "";
            let isDb = item.id === "0";
            let idImg = "'card-img-"+idComponent+"-"+indexCardIm+"'";
            if(isDb){
                preview = 
                '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img-carroucel"></div>';
            }else{
                styleLabel = 'style="display: none;"';
                preview = 
                '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img-carroucel">'+
                    /*'<button id="imagenclose'+idComponent+'-'+indexImagen+'"  class="button-close-carroucel"  onclick="removeComponent('+idImg+')">x</button>'+*/
                    '<img src="'+item.url+'" />'+
                '</div>';
            }
            component +=
            '<div class="card-imagen-carroucel" id="card-img-'+idComponent+'-'+indexCardIm+'" db-id="'+item.id+'">'+
                '<button id="imagenclose'+idComponent+'-'+indexImagen+'"  class="button-close-carroucel"  onclick="removeComponent('+idImg+','+typeRelated+')">x</button>'+
                '<label for="imagen'+idComponent+'-'+indexImagen+'" id="imagenlabel'+idComponent+'-'+indexImagen+'" '+styleLabel+' class="btn-img">'+
                  '<img src="/img/icono-imagen-chico.png" class="label-imagen-1"/>'+
                '</label>'+
                '<input type="file" id="imagen'+idComponent+'-'+indexImagen+'" onchange="generatePreview('+stringId+','+indexImagen+','+stringType+')" typeInput="img" class="input-img" customValue="'+item.url+'">';
            component += preview;
            component +=
            '</div>';
            indexImagen = indexImagen + 1;
            indexCardIm = indexCardIm + 1;
        });
        return component;
    }
    function generateCardImage(stringId, idComponent, item, pkId, stringType, typeInput) {
        let preview = "";
        let styleLabel = "";
        let urlImage = "";
        let classPreview = "preview-img";
        let attrTypeInput = "img";
        let classBtnClose = "button-close";
        console.log(stringType);
        if(stringType === "'texto-imagen'"){
            classPreview = "preview-img-small";
            classBtnClose = "button-close-small";
            console.log('entro if');
        }else if(stringType === "'pop-up'"){
            classBtnClose = "button-close";
            console.log('entro if else');
        }
        if(typeInput) {
            attrTypeInput = typeInput;
        }

        if(typeInput && typeInput == "img2") {
            classPreview = "preview-img-carroucel";
            classBtnClose = "button-close-carroucel";
        }else if(typeInput && typeInput == "img3"){
            classPreview = "preview-img-carroucel";
            classBtnClose = "button-close-carroucel";
        }else if(typeInput && typeInput == "img1"){
            classPreview = "preview-img-desplegable";
        }else if(typeInput && typeInput == "img-access"){
            classPreview = "preview-img-desplegable";
        }

        if(pkId !== 0){
            styleLabel = 'style="display: none;"';
            
            if(typeInput && typeInput == "img2") {
                urlImage = item.urlDos;
            }else if(typeInput && typeInput == "img3"){
                urlImage = item.urlTres;
            }else if(typeInput && typeInput == "img1"){
                urlImage = item.url;
            }else if(typeInput && typeInput == "img-access"){
                urlImage = item.url;
            }else{
                urlImage = item.url;
            }
            preview = 
            '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="'+classPreview+'">'+
                '<button id="imagenclose'+idComponent+'-'+indexImagen+'"  class="'+classBtnClose+'"  onclick="deletePreview('+stringId+','+indexImagen+')">x</button>'+
                '<img src="'+urlImage+'" />'+
            '</div>';
        }else{
            preview = 
            '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="'+classPreview+'"></div>';
        }
        let component = 
        /*'<div class="container-imagen">'+*/
            '<label for="imagen'+idComponent+'-'+indexImagen+'" id="imagenlabel'+idComponent+'-'+indexImagen+'" '+styleLabel+' class="btn-img">'+
                '<img src="/img/icono-imagen-chico.png" class="image-icon"/>'+
            '</label>'+
            '<input type="file" id="imagen'+idComponent+'-'+indexImagen+'" onchange="generatePreview('+stringId+','+indexImagen+','+stringType+')" class="input-img" typeInput="'+attrTypeInput+'" customValue="'+urlImage+'">';
        /*'</div>';*/
        component += preview;
        indexImagen = indexImagen + 1;
        return component;
    }
    function generateCardsDesplazante(stringId, idComponent, item, pkId, stringType, descripcion) {
        console.log(item);
        let images = [{
            "id": "0",
            "url": "/img/icono-imagen-chico.png",
            "titulo": "",
            "descripcion": "",
            "files": "",
            "idComponente": pkId,
            "backgroundColor": "",
        }];
        if(item.length > 0){
            images = item;
        }
        let component = "";
        let typeRelated = "'cardRelatedImage'";
        images.map((item) => {
            let preview = "";
            let styleLabel = "";
            let isDb = item.id === "0";
            let idImg = "'card-ti-"+idComponent+"-"+indexCardTi+"'";
            if(isDb){
                preview = 
                '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img-small"></div>';
            }else{
                styleLabel = 'style="display: none;"';
                preview = 
                '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img-small">'+
                    '<button id="imagenclose'+idComponent+'-'+indexImagen+'"  class="button-close-small"  onclick="deletePreview('+stringId+','+indexImagen+')">x</button>'+
                    '<img src="'+item.url+'" />'+
                '</div>';
            }
            component +=
            '<div class="card-texto-imagen" id="card-ti-'+idComponent+'-'+indexCardTi+'" db-id="'+item.id+'">'+
                      '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+idImg+','+typeRelated+')">'+
                      '<div class="card-imagen">'+
                          '<p>Imagen</p>'+
                          '<label for="imagen'+idComponent+'-'+indexImagen+'" id="imagenlabel'+idComponent+'-'+indexImagen+'" '+styleLabel+' class="btn-img">'+
                            '<img src="/img/icono-imagen-chico.png" class="label-imagen-1"/>'+
                          '</label>'+
                          '<input type="file" id="imagen'+idComponent+'-'+indexImagen+'" onchange="generatePreview('+stringId+','+indexImagen+','+stringType+')" typeInput="img" class="input-img" customValue="'+item.url+'">';
            component += preview;
            component +=
                      '</div>'+
                      '<input class="titulo-input mt-4" type="text" typeInput="titulo" placeholder="Titulo" value="'+item.titulo+'">'+
                      '<br/>'+
                      '<input type="text" placeholder="Texto" typeInput="texto" class="mt-4" value="'+item.texto+'">'+
                      '<input class="Color-Selector"  type="color" typeInput="color" value="'+item.backgroundColor+'">'+
                    '</div>';
            indexImagen = indexImagen + 1;
            indexCardTi = indexCardTi + 1;
        });
        return component;
    }
    function AddPreviewLink(stringId){
        let enlace = document.getElementById('inputLink'+stringId).value;
        document.getElementById("previewLink"+stringId).innerHTML = ['<iframe  width="300px" height="200px" src="'+enlace+'"></iframe>'];
    }
    function toggleButton(stringId){
        var link = $('#inputLink'+stringId).val();
        if(link){
            $('#previewLink'+stringId).css('visibility', 'visible');
        } 
        else{
           $('#previewLink'+stringId).css('visibility', 'hidden');
        }
    }
    function generateCardVideo(stringId, idComponent, item, pkId, stringType) {
        let preview = "";
        let styleLabel = "";
        let urlVideo = "";
        let classLabel = "btn-img";
        if(stringType === "'pop-up-video'"){
            classLabel = "label-popvideo";
        }else if(stringType === "'video-guia'") {
            classLabel = "label-video-guia";
        }
        if(pkId !== 0){
            styleLabel = 'style="display: none;"';
            urlVideo = item.url;
            preview = 
            '<div id="previewVideo'+idComponent+'" class="preview-img">'+
                '<button id="videoclose'+stringId+'"  class="button-close-video"  onclick="deletePreviewVideo('+stringId+')">x</button>'+
                '<video src="'+urlVideo+'" style="width: 400px;" controls/>'+
            '</div>';
        }else{
            preview = 
            '<div id="previewVideo'+idComponent+'" class="preview-img"></div>';
        }
        let component = 
        '<label for="video'+idComponent+'" id="videolabel'+idComponent+'" '+styleLabel+' class="'+classLabel+'">'+
            '<img src="/img/video.png" class="video-icon"/>'+
        '</label>'+
        '<input type="file" accept="video/*" id="video'+idComponent+'" onchange="generatePreviewVideo('+stringId+')" typeInput="video" value="'+urlVideo+'" class="input-img">';
        component += preview;
        return component;
    }
    function generateComponent(type, pkId, item) {
        let idComponent = Math.random().toString(36).substring(2,7);
        let stringId = "'"+idComponent+"'";
        let stringType = "'"+type+"'";
        let component = "";
        let itemDesplazantes = (item) ? item.desplazantes : [];
        let typeRelated = "'cardRelatedImage'";
        let propChecked = "";
        switch(type) {
          case 'texto':
            let valueInpText = (item) ? item.descripcion : "";
            let valueCheckText = (item) ? item.agregarFondo : 0;
            if (valueCheckText == 1){
                propChecked ="checked";
            }
            component =
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="texto">'+
                  '<p class="tituloCmp">'+type+
                    '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                  '<p>'+
                  '<input class="inputTexto" type="text" value="'+valueInpText+'">'+
                '<input type="checkbox" typeInput="check" class="Boton1" name="AgregarFondo" '+propChecked+'><label for="AgregarFondo"> Agregar Fondo</label><br>'+
              '</div>';
          break;
          case 'subtitulo':
            let valueInpSub = (item) ? item.subtitulo : "";
            component =
              '<div class="col-lg-12 texto component" db-id="'+pkId+'" id="'+idComponent+'" type-component="subtitulo">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<input class="inputTexto" type="text" value="'+valueInpSub+'">'+
              '</div>';
          break;
          case 'imagen':
            let valueInpImg = (item) ? item.url : "";
            let valueInpPie = (item) ? item.descripcion : "";
            component =
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="imagen">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '</p>'+
                '<div class="container-texto-imagen">'+
                    '<div class="container-imagen">';
            let image = generateCardImage(stringId, idComponent, item, pkId, stringType);
            component += image;
                    
            component +=
                    '</div>'+
                    '<input class="w-100 mt-1 inputTexto" type="text" placeholder="Pie de Foto" typeInput="pie-foto" value="'+valueInpPie+'"/>'+
                '</div>'+
                '<div>'+
              '</div>';
              indexImagen = indexImagen + 1;
          break;
          case 'desplazante-texto-imagen':
            component =
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="desplazante-texto-imagen">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<div class="row container-dezplazante-texto-imagen">'+
                  '<div class="desplazante-texto-imagen" id="text'+idComponent+'">';
            let desplazantes = generateCardsDesplazante(stringId, idComponent, itemDesplazantes, pkId, stringType);
            component += desplazantes;
                    
            component +=
                  '</div>'+
                  '<div class="button-container">'+
                    '<button onclick="AddTextoImagen('+stringId+','+stringType+')" class="btn-add-more">+</button>'+
                  '</div>'+
                '</div>'+
              '</div>';
              indexImagen = indexImagen + 1;
              indexCardTi = indexCardTi + 1;
          break;
          case 'video':
            component =
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="video">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<div class="container-imagen">';
            let video = generateCardVideo(stringId, idComponent, item, pkId, stringType);
            component += video;
            component +=
                '</div>'+
              '</div>';
          break;
          case 'carrucel':
            component =
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="carrucel">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<div class="row container-carroucel">'+
                  '<div class="carroucel" id="containerCarroucel'+idComponent+'">';
            let images = generateCardsImages(stringId, idComponent, itemDesplazantes, pkId, stringType);
            component += images;
           
            component +=
                  '</div>'+
                  '<div class="button-container">'+
                    '<button onclick="addImageToCarroucel('+stringId+','+stringType+')" class="btn-add-more">+</button>'+
                  '</div>'+
                '</div>'+
              '</div>';
              indexImagen = indexImagen + 1;
              indexCardIm = indexCardIm + 1;
          break;
          case 'desplegable-texto-imagen':
            let valueInpCheckDes = (item) ? item.agregarFondo : "";
            let valueSubtitulo = (item) ? item.subtitulo : "";
            let valueDescription = (item) ? item.descripcion : "";
            if (valueInpCheckDes == 1){
                propChecked ="checked";
            }
            component =
              '<div class="col-lg-12 component" id="'+idComponent+'" db-id="'+pkId+'" type-component="desplegable-texto-imagen">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<div class="container-desplegable row">'+
                  '<div class="container-desplegable-texto-imagen">'+
                    '<div class="card-desplegable-imagen">'+
                      '<div class="d-flex col-lg-12 justify-content-end align-items-center">';
            let imageDes1 = generateCardImage(stringId, idComponent, item, pkId, stringType, 'img1');
            component += imageDes1;
            component +=
                      '</div>'+
                    '</div>'+
                    '<div class="card-desplegable-texto">'+
                      '<input class="subtitle-input" type="text" placeholder="subtitulo" typeInput="subtitulo" value="'+valueSubtitulo+'">'+        
                    '</div>'+
                  '</div>'+
                  '<textarea class="textarea mt-3" name="" id="" cols="" rows="3" placeholder="texto">'+valueDescription+'</textarea><br/>'+
                  '<div class="container-desplegable-imagenes mt-3">'+
                    '<div class="card-imagen-carroucel">';
            let imageDes2 = generateCardImage(stringId, idComponent, item, pkId, stringType, 'img2');
            component += imageDes2;
            component +=
                    '</div>'+
                    '<div class="card-imagen-carroucel">';
            let imageDes3 = generateCardImage(stringId, idComponent, item, pkId, stringType, 'img3');
            component += imageDes3;
            component +=
                    '</div>'+
                  '</div>'+
                  '<div class="d-flex col-lg-12 justify-content-end align-items-center">'+
                    '<input type="checkbox" typeInput="check-des" '+propChecked+'><span>Agregar fondo</span>'+
                  '</div>'+
                '</div>'+
              '</div>';
              indexImagen = indexImagen + 2;
          break;
          case 'banner-informativo':
            let valueInpText2 = (item) ? item.descripcion : "";
            let valueInpColorBanner = (item) ? item.backgroundColor : "";
            component = 
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="banner-informativo">'+
                '<div id="backgroundBanner">'+
                  '<p class="tituloCmp">'+type+
                    '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                  '<p>'+
                  '<input class="inputTexto" type="text" placeholder="Texto" typeInput="text2" value="'+valueInpText2+'">'+
                  '<p class="selColor">Elige un color para asignarle.</p>'+
                    'Color '+
                    '<input class="Color-Selector" type="color" typeInput="Color" value="'+valueInpColorBanner+'">'+
                '</div>'+
              '</div>';
          break;
          case 'texto-imagen':
            let valueInpImg2 = (item) ? item.url : "";
            let valueInpText3 = (item) ? item.descripcion : "";
            let valueInpAddBackTxIm = (item) ? item.agregarFondo : 0;
            if (valueInpAddBackTxIm == 1){
                propChecked ="checked";
            }
            console.log(valueInpAddBackTxIm, "texto-imagen", "--------")
            component = 
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="texto-imagen">'+
                '<div id="background">'+
                  '<p class="tituloCmp">'+type+
                    '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                  '<p>'+
                  '<div>'+
                    '<div class="junto1">'+
                    '<div class="card-imagen1">'+
                        '<p>Imagen</p>';
            let cardImage = generateCardImage(stringId, idComponent, item, pkId, stringType);
            component += cardImage;
                      /*
                      '<div class="card-imagen1">'+
                        '<p>Imagen</p>'+
                        '<label for="imagen'+idComponent+'-'+indexImagen+'" id="imagenlabel'+idComponent+'-'+indexImagen+'" class="btn-img">'+
                            '<img src="/img/icono-imagen-chico.png" class="label-imagen-1"></label>'+
                        '</label>'+
                        '<input type="file" typeInput="img" id="imagen'+idComponent+'-'+indexImagen+'" onchange="generatePreview('+stringId+','+indexImagen+','+stringType+')" class="input-img">'+
                        '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img-small"></div>'+
                      '</div>'
                      */
            component +=
                      '</div>'+
                      '<div class="titulomax1">'+
                          '<textarea class="inputTitulo1" typeInput="textarea" value="">'+valueInpText3+'</textarea>'+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
                '<input type="checkbox" typeInput="check" class="Boton1" '+propChecked+' name="AgregarFondo" ><label for="AgregarFondo"> Agregar Fondo</label><br>'+
              '</div>';
            indexImagen = indexImagen + 1;
          break;
          case 'enlace':
            let valueInpTit = (item) ? item.titulo : "";
            let valueInpLink = (item) ? item.url : "";
            let valueInpcolor = (item) ? item.backgroundColor : "";
            component =
              '<div class="col-lg-12 texto component CompoEnlace" id="'+idComponent+'" db-id="'+pkId+'" type-component="enlace">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<div class="margenContainer">'+
                  '<input class="inputTitulo" type="text" placeholder="Titulo"  typeInput="titulo" value="'+valueInpTit+'"/>'+
                  '<div class="inputLinkContainer">'+
                    '<input class="inputLink" id="inputLink'+idComponent+'" name="link" type="text" placeholder="Link" onkeyup="toggleButton('+stringId+')"  typeInput="link" value="'+valueInpLink+'"/>'+
                    '<button class="botonEnlace" onclick="AddPreviewLink('+stringId+')" id="previewLink'+idComponent+'"> <img src="/img/check.png" width="50px"></button>'+
                  '</div>'+
                  '<p class="selColor">Elige un color para asignarle.</p>'+
                  'Color '+
                  '<input class="Color-Selector"  type="color" typeInput="color"  value="'+valueInpcolor+'">'+
                '</div>'+
              '</div>';
          break;
          case 'pop-up':
            let valueInpUpText = (item) ? item.descripcion : "";
            let valueInpImgPop = (item) ? item.url : "";
            component =
              '<div class="col-lg-12 texto component" id="'+idComponent+'" db-id="'+pkId+'" type-component="pop-up">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<input class="inputTexto" type="text" placeholder="Texto..." typeInput="up-text" value="'+valueInpUpText+'">'+ 
                '<div class="container-imagen">';
            let cardImagePopUp = generateCardImage(stringId, idComponent, item, pkId, stringType);
            component += cardImagePopUp;
                /*
                  '<div class="hija-pop">'+
                    '<label class="file-Amagen-pop-up" for="imagen'+idComponent+'-'+indexImagen+'" id="imagenlabel'+idComponent+'-'+indexImagen+'"><img src="/img/icono-imagen-grande.png"/></label>'+
                    '<input class="pop-up-input" type="file" id="imagen'+idComponent+'-'+indexImagen+'" accept=".png" onchange="generatePreview('+stringId+','+indexImagen+','+stringType+')" typeInput="img-pop" value="'+valueInpImgPop+'">'+
                    '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img-pop">'+ 
                    '</div>'+
                  '</div>'+
                */
            component +=
                '</div>'+
              '</div>';
          break;
          case 'aviso-inicial':
            let valueInpUpTextMsg = (item) ? item.descripcion : "";
            let valueInpImgPopMsg = (item) ? item.url : "";
            component =
              '<div class="col-lg-12 texto component" id="'+idComponent+'" db-id="'+pkId+'" type-component="aviso-inicial">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<input class="inputTexto" type="text" placeholder="Texto..." typeInput="up-text" value="'+valueInpUpTextMsg+'">'+ 
                '<div class="container-imagen">';
            let cardImagePopUpMsg = generateCardImage(stringId, idComponent, item, pkId, stringType);
            component += cardImagePopUpMsg;
            component +=
                '</div>'+
              '</div>';
          break;
          case 'acceso-cursos':
            let valueInpImgAcc = (item) ? item.url : "";
            let valueInpTitleAcc = (item) ? item.titulo : "";
            let valueInpLinkAcc = (item) ? item.urlDos : "";
            let valueInpcolorAcc = (item) ? item.backgroundColor : "";
            component = 
              '<div class="col-lg-12 texto component" id="'+idComponent+'" db-id="'+pkId+'" type-component="acceso-cursos">'+
                '<div id="background">'+
                  '<p class="tituloCmp">'+type+
                    '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                  '<p>'+

                  '<div class="container-desplegable-texto-imagen">'+
                    '<div class="card-desplegable-imagen">'+
                      '<div class="d-flex col-lg-12 justify-content-end align-items-center">';
            let imageAcceso = generateCardImage(stringId, idComponent, item, pkId, stringType, 'img-access');
            component += imageAcceso;
            component +=
                      '</div>'+
                    '</div>'+
                    '<div class="card-desplegable-texto">'+
                      '<input class="subtitle-input" type="text" placeholder="Subtitulo" typeInput="titulo-access" value="'+valueInpTitleAcc+'"/>'+      
                    '</div>'+
                  '</div>'+
                  /*
                  '<div>'+
                    '<div class="junto">'+
                      '<label class="file-Amagen" for="imagen'+idComponent+'-'+indexImagen+'" id="imagenlabel'+idComponent+'-'+indexImagen+'"></label>'+
                      '<input class="pop-up-input" type="file" id="imagen'+idComponent+'-'+indexImagen+'" accept=".png" onchange="generatePreview('+stringId+','+indexImagen+')" typeInput="img-access" value="'+valueInpImgAcc+'">'+
                      '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="estilo-imagen"></div>'+ 
                      '<div class="titulomax">'+
                           '<input class="inputTitulo" type="text" placeholder="Titulo" typeInput="titulo-access" value="'+valueInpTitleAcc+'"/>'+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                  */
                  '<div id="preview'+idComponent+'" class="estilo-imagen">'+ 
                    '<div class="inputLinkContainer">'+
                        '<input class="inputLink" id="inputLink'+idComponent+'" name="link" type="text" placeholder="∞" onkeyup="toggleButton('+stringId+')" typeInput="link-access" value="'+valueInpLinkAcc+'"/>'+
                        '<button class="botonEnlace" onclick="AddPreviewLink('+stringId+')" id="previewLink'+idComponent+'"> <img src="/img/check.png" width="50px"/> </button>'+
                    '</div>'+
                    '<p class="selColor">Elige un color para asignarle.</p>'+
                    'Color'+
                    '<input class="Color-Selector"  type="color" typeInput="color-access" value="'+valueInpcolorAcc+'">'+
                  '</div>'+
                '</div>'+
              '</div>';
            indexImagen = indexImagen + 1;
          break;
          case 'video-guía':
            let valueInpVideoGuia = (item) ? item.url : "";
            let valueInpTextGuia = (item) ?  item.descripcion : "";
            let valueInpColorGuia = (item) ? item.backgroundColor : "";
            component =
              '<div class="col-lg-12  texto component CompEnlace " id="'+idComponent+'" db-id="'+pkId+'" type-component="video-guía">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png"  alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<div>'+
                  '<div class="video-guia-padre-input">';
            let cardVideoGuia = generateCardVideo(stringId, idComponent, item, pkId, stringType);
            component += cardVideoGuia;
                    /*'<label for="video'+idComponent+'" id="videolabel'+idComponent+'" class="label-video-guia"><img src="/img/icono-video.png"></label>'+
                    '<input type="file" id="video'+idComponent+'" onchange="generatePreviewVideo('+stringId+')" class="input-video-guia" typeInput="video-guia" value="'+valueInpVideoGuia+'">'+
                    '<div id="previewVideo'+idComponent+'"  class="video-guia-video">'+      
                    '</div>'+*/
            component +=
                  '</div>'+
                  '<div class="descripcion-guia-video">'+
                    '<input type="text" class="descripcion-guia-video-input" placeholder="Descripción" typeInput="text-guia" value="'+valueInpTextGuia+'">'+
                  '</div>'+ 
                  '<div>'+
                    '<label>Elige color para asignarle </label>'+
                  '</div>'+
                  '<div>'+
                      '<span>Color: </span><input type="color" typeInput="color-guia" value="'+valueInpColorGuia+'">'+
                  '</div>'+
                '</div>'+
              '</div>';
          break;
          case 'pop-up-video':
            let valueInpUpVideoText = (item) ? item.descripcion : "";
            let valueInpUpVideo = (item) ?  item.url : "";
            let valueCatPopUpVid = (item) ?  item.tipoCategoria : "";
            let idCatSelect = "#categoriaVideo"+idComponent;
            //var arrar=['sin-categoria','control-interno', 'ejecucion', 'abastecimiento-e-inventario', 'servicio'];
            var arrar=[
                {"value":"sin-categoria", "text":"Sin categoria"},
                {"value":"control-interno", "text":"Control interno" }, 
                {"value":"ejecucion", "text":"Ejecución"}, 
                {"value":"abastecimiento-e-inventario", "text":"Abastecimiento e inventario"}, 
                {"value":"servicio", "text":"Servicio"}
            ];
            console.log(arrar);
            console.log(valueCatPopUpVid, "Pop-up-Video ------")
            component =
              '<div class="col-lg-12 texto component" id="'+idComponent+'" db-id="'+pkId+'" type-component="pop-up-video">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<input class="inputTexto" type="text" placeholder="Texto..." typeInput="upvideo-text" value="'+valueInpUpVideoText+'">'+ 
                '<div class="container-pop">'+
                  '<div class="hija-popvideo">';
            let cardVideo = generateCardVideo(stringId, idComponent, item, pkId, stringType);
            component += cardVideo;
                    /*'<label class="label-popvideo" for="video'+idComponent+'" id="videolabel'+idComponent+'"><img src="/img/icono-video.png" class="imagen-popvideo"/></label>'+
                    '<input class="pop-up-input" type="file" accept="video/*" id="video'+idComponent+'" onchange="generatePreviewVideo('+stringId+')" typeInput="up-video" value="'+valueInpUpVideo+'">'+
                    '<div id="previewVideo'+idComponent+'">'+ 
                    '</div>'+*/
            component +=
                  '</div>'+
                '</div>'+
                    '<div>'+
                        '<label>Elige una opción de categoria</label>'+
                        '<select id="categoriaVideo'+idComponent+'" type="tipo_categoria" value="'+valueCatPopUpVid+'">';

                            for(var i=0;i<arrar.length;i++){

                                if(valueCatPopUpVid==arrar[i].value){
                                   component +=    '<option value="'+arrar[i].value+'" selected>'+arrar[i].text+'</option>';
                                }else{
                                   
                                    component +=  '<option value="'+arrar[i].value+'">'+arrar[i].text+'</option>';
                                    
                                }

                            }
              component += '</select>'+
                    '</div>'+
              '</div>';
          break;
          case 'titulo':
            let valueInpText5 = (item) ? item.descripcion : "";
            component =
              '<div class="col-lg-6 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="titulo">'+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<input class="inputTexto" type="text" placeholder="Titulo" value="'+valueInpText5+'">'+
              '</div>';
          break;
          case 'imagen-titulo-descripción':
            let valueTitulo = (item) ? item.titulo : "";
            let valueDescriptionImDes = (item) ? item.descripcion : "";
            component =
              '<div class="col-lg-12 component" id="'+idComponent+'" db-id="'+pkId+'" type-component="imagen-titulo-descripción">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<div class="container-desplegable row">'+
                  '<div class="container-desplegable-texto-imagen">'+
                    '<div class="card-desplegable-imagen">'+
                      '<div class="d-flex col-lg-12 justify-content-end align-items-center">';
            let imageTitDes = generateCardImage(stringId, idComponent, item, pkId, stringType, 'img1');
            component += imageTitDes;
            component +=
                      '</div>'+
                    '</div>'+
                    '<div class="card-desplegable-texto">'+
                      '<input class="subtitle-input" type="text" placeholder="Título" typeInput="titulo" value="'+valueTitulo+'">'+        
                    '</div>'+
                  '</div>'+
                  '<textarea class="textarea mt-3" name="" id="" cols="" rows="3" placeholder="Descripción">'+valueDescriptionImDes+'</textarea><br/>'+
                '</div>'+
              '</div>';
              indexImagen = indexImagen + 2;
          break;
          case 'desplegable-texto-imagen-imagen':
            let valueInpCheckDesim = (item) ? item.agregarFondo : 0;
            let valueSubtituloim = (item) ? item.subtitulo : "";
            let valueDescriptionim = (item) ? item.descripcion : "";
            if (valueInpCheckDesim == 1){
                propChecked ="checked";
            }
            component =
              '<div class="col-lg-12 component" id="'+idComponent+'" db-id="'+pkId+'" type-component="desplegable-texto-imagen-imagen">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<div class="container-desplegable row">'+
                  '<div class="container-desplegable-texto-imagen">'+
                    '<div class="card-desplegable-texto">'+
                      '<input class="subtitle-input" type="text" placeholder="Subtitulo" typeInput="subtitulo" value="'+valueSubtituloim+'">'+        
                    '</div>'+
                  '</div>'+
                  '<textarea class="textarea mt-3" name="" id="" cols="" rows="3" placeholder="Descripción">'+valueDescriptionim+'</textarea><br/>'+
                  '<div class="container-desplegable-imagenes mt-3">'+
                    '<div class="card-imagen-carroucel">';
            let imageDes2im = generateCardImage(stringId, idComponent, item, pkId, stringType, 'img2');
            component += imageDes2im;
            component +=
                    '</div>'+
                    '<div class="card-imagen-carroucel">';
            let imageDes3im = generateCardImage(stringId, idComponent, item, pkId, stringType, 'img3');
            component += imageDes3im;
            component +=
                    '</div>'+
                  '</div>'+
                  '<div class="d-flex col-lg-12 justify-content-end align-items-center">'+
                    '<input type="checkbox" typeInput="check" '+propChecked+'><span>Agregar fondo</span>'+
                  '</div>'+
                '</div>'+
              '</div>';
              indexImagen = indexImagen + 2;
          break;
          case 'titulo-descripción':
            let valueTituloDes = (item) ? item.titulo : "";
            let valueDescriptionDes = (item) ? item.descripcion : "";
            component =
              '<div class="col-lg-12 component" id="'+idComponent+'" db-id="'+pkId+'" type-component="titulo-descripción">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<div class="container-desplegable row">'+
                  '<div class="container-desplegable-texto-imagen">'+
                    '<div class="card-desplegable-texto">'+
                      '<input class="subtitle-input" type="text" placeholder="Título" typeInput="titulo" value="'+valueTituloDes+'">'+        
                    '</div>'+
                  '</div>'+
                  '<textarea class="textarea mt-3" name="" id="" cols="" rows="3" placeholder="Descripción">'+valueDescriptionDes+'</textarea><br/>'+
                '</div>'+
              '</div>';
              indexImagen = indexImagen + 2;
          break;
          case 'subtitulo-descripción':
            let valueInpSubDes = (item) ? item.subtitulo : "";
            let valueDescriptionSubDes = (item) ? item.descripcion : "";
            let valueInpAddBackSubDes = (item) ? item.agregarFondo : 0;
            if (valueInpAddBackSubDes == 1){
                propChecked ="checked";
            }
            component =
              '<div class="col-lg-12 component" id="'+idComponent+'" db-id="'+pkId+'" type-component="subtitulo-descripción">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+','+stringType+')">'+
                '<p>'+
                '<div class="container-desplegable row">'+
                  '<div class="container-desplegable-texto-imagen">'+
                    '<div class="card-desplegable-texto">'+
                      '<input class="inputTexto" type="text" placeholder="Subtitulo" value="'+valueInpSubDes+'">'+
                    '</div>'+
                  '</div>'+
                  '<textarea class="textarea mt-3" name="" id="" cols="" rows="3" placeholder="Descripción">'+valueDescriptionSubDes+'</textarea><br/>'+
                '</div>'+
                '<input type="checkbox" typeInput="check" class="Boton1" name="AgregarFondo" '+propChecked+'><label for="AgregarFondo"> Agregar Fondo</label><br>'+
              '</div>';
              indexImagen = indexImagen + 2;
          break;
          default:
            component = "";
        }
        return {component: component, idComponent: idComponent, indexImagen: indexImagen};
    }
    var txt;
    function saveChanges() {
      let toInsert = [];
      let toUpdate = [];
      let errores = 0;
      $(".component").each(function(index){
        let currentComponent = $(this);
        let idElement = currentComponent.attr('id');
        let idComponent = currentComponent.attr('db-id');
        let typeElement = currentComponent.attr('type-component');
        console.log(idElement+'-'+idComponent+'-'+typeElement);
        let item = formJsonComponent(idElement, typeElement, idComponent);
        item.Id = idComponent;
        item.Padre = padre;
        item.TipoComponente = typeElement;
        item.Orden = index+1;
        item.IdModulo = idModulo;
        let imgVal;
        if(idComponent != 0) {
            imgVal = ValidateImgAviso(item.TipoComponente, item.Url);
            console.log("U",imgVal.success, imgVal.msg);
            if(imgVal.success == true){
                toUpdate.push(item);
            }
            if(imgVal.success == false){
                txt = imgVal.msg;
                errores ++;
            }
        }else{
            imgVal = ValidateImgAviso(item.TipoComponente, item.Url);
            console.log("I",imgVal.success, imgVal.msg);
            if(imgVal.success == true){
                toInsert.push(item);
            }
            if(imgVal.success == false){
                txt = imgVal.msg
                errores ++;
            }
          //toInsert.push(item);
        }
      });
      let msgAlert = "Los componentes se han actualizado con exito!";
      if (errores > 0){
          msgAlert = "Algunos de los componentes no se han podido guardar por falta de información";
      }
      console.log(toInsert);
      console.log(toUpdate);
      
      console.log("msg prev",txt);
      saveComponents(toInsert);
      updateComponents(toUpdate);
      Swal.fire({
            title: 'Bien!',
            text: msgAlert,
            imageUrl: '/img/señalverde.png',
            imageHeight: 212,
            showConfirmButton: false,
            timer: 1500
      })
    }
    
    function formJsonComponent(idElement, typeElement, idComponent) {
      let jsonItem =
      {
        "Id": null,
        "Padre": null,
        "TipoComponente": null,
        "Url": null,
        "UrlDos": null,
        "UrlTres": null,
        "Descripcion": null,
        "BackgroundColor": null,
        "AgregarFondo": 0,
        "Titulo": null,
        "Subtitulo": null,
        "Orden": null,
        "IdModulo": null,
        "TipoCategoria": null,
        "Files": [],
        "Desplazantes": []
      }
      let jsonDesplazante = {
        "Id": null,
        "Url": null,
        "Titulo": null,
        "Texto": null,
        "Files": [],
        "IdComponente": null,
        "BackgroundColor": null
      }
      switch(typeElement) {
        case 'texto':
          $("#"+idElement).find("input").each(function() {
            let type = $(this).attr("type");
            let typeInp = $(this).attr("typeInput");
            if(type == 'text'){
                let value = $(this).val();
                jsonItem.Descripcion = value;
            }
            if(typeInp == 'check'){
              if ($(this).is(":checked"))  {
                  jsonItem.AgregarFondo = 1;
              }else {
                  jsonItem.AgregarFondo = 0;
              }
            }
          });
        break;
        case 'subtitulo':
          $("#"+idElement).find("input").each(function() {
            let value = $(this).val();
            jsonItem.Subtitulo = value;
          });
        break;
        case 'imagen':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'img'){ 
                let value = $(this).prop("files");
                if(value[0]){
                    jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                    jsonItem.Files = value[0];
                }else{
                    jsonItem.Url = $(this).attr('customValue');
                }
            }
            if(typeInp == 'pie-foto'){
                let value = $(this).val();
                jsonItem.Descripcion = value;
            }
          });
        break;
        case 'desplazante-texto-imagen':
          $("#"+idElement).find(".card-texto-imagen").each(function() {
            let id = $(this).attr('id');
            let pkey = $(this).attr('db-id');
            $("#"+id).find("input").each(function() {
                let typeInp = $(this).attr("typeInput");
                if(typeInp == 'img'){
                   let value = $(this).prop("files");
                    if(value[0]){
                        jsonDesplazante.Url = window.location.origin+'/files/'+value[0].name;
                        jsonDesplazante.Files = value[0];
                    }else{
                        jsonDesplazante.Url = $(this).attr('customValue');
                    }
                }
                if(typeInp == 'titulo'){
                    let value = $(this).val();
                    jsonDesplazante.Titulo = value;
                }
                if(typeInp == 'texto'){
                    let value = $(this).val();
                    jsonDesplazante.Texto = value;
                }
                if(typeInp == 'color'){
                      let value = $(this).val();
                      jsonDesplazante.BackgroundColor = value;
                }
            });
            jsonDesplazante.Id = pkey;
            jsonItem.Desplazantes.push(jsonDesplazante);
            jsonDesplazante = {
                "Id": null,
                "Url": null,
                "Titulo": null,
                "Texto": null,
                "Files": null,
                "IdComponente": null,
                "BackgroundColor": null,
            }
          });
        break;
        case 'carrucel':
          $("#"+idElement).find(".card-imagen-carroucel").each(function() {
            let id = $(this).attr('id');
            let pkey = $(this).attr('db-id');
            $("#"+id).find("input").each(function() {
                let typeInp = $(this).attr("typeInput");
                if(typeInp == 'img'){
                    let value = $(this).prop("files");
                    if(value[0]){
                        jsonDesplazante.Url = window.location.origin+'/files/'+value[0].name;
                        jsonDesplazante.Files = value[0];
                    }else{
                        jsonDesplazante.Url = $(this).attr('customValue');
                    }
                }
            });
            jsonDesplazante.Id = pkey;
            jsonItem.Desplazantes.push(jsonDesplazante);
            jsonDesplazante = {
                "Id": null,
                "Url": null,
                "Titulo": null,
                "Texto": null,
                "Files": null,
                "IdComponente": null
            }
          });
        break;
        case "desplegable-texto-imagen":
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'subtitulo'){
                let value = $(this).val();
                jsonItem.Subtitulo = value;
            }
            if(typeInp == 'img1'){
                let value = $(this).prop("files");
                if(value[0]){
                    jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                    jsonItem.Files.push(value[0]);
                }else{
                    jsonItem.Url = $(this).attr('customValue');
                }
            }
            if(typeInp == 'img2'){
                let value = $(this).prop("files");
                if(value[0]){
                    jsonItem.UrlDos = window.location.origin+'/files/'+value[0].name;
                    jsonItem.Files.push(value[0]);
                }else{
                    jsonItem.UrlDos = $(this).attr('customValue');
                }
            }
            if(typeInp == 'img3'){
                let value = $(this).prop("files");
                if(value[0]){
                    jsonItem.UrlTres = window.location.origin+'/files/'+value[0].name;
                    jsonItem.Files.push(value[0]);
                }else{
                    jsonItem.UrlTres = $(this).attr('customValue');
                }
            }
            if ($(this).is(":checked")) {
                jsonItem.AgregarFondo = 1;
            }else {
                jsonItem.AgregarFondo = 0;
            }
          });
          $("#"+idElement).find("textarea").each(function() {
            let value = $(this).val();
            jsonItem.Descripcion = value;
          });
        break;
        case 'banner-informativo':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'text2'){
              let value = $(this).val();
              jsonItem.Descripcion = value;
            }
            if(typeInp == 'Color'){
              let value = $(this).val();
              jsonItem.BackgroundColor = value;
            }
          });
        break;
        case 'enlace':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'link'){
              jsonItem.Url = $(this).val();
                                  
            }
            if(typeInp == 'titulo'){
              let value = $(this).val();
              jsonItem.Titulo = value;
            }
            if(typeInp == 'color'){
              let value = $(this).val();
              jsonItem.BackgroundColor = value;
            }
          });
        break;
        case 'pop-up':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'up-text'){
              let value = $(this).val();
              jsonItem.Descripcion = value;
            }
            if(typeInp == 'img'){
              let value = $(this).prop("files");
              if(value[0]){
                jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                jsonItem.Files = value[0];
              }else{
                jsonItem.Url = $(this).attr('customValue');
              }
            }
          });
        break;
        case 'aviso-inicial':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'up-text'){
              let value = $(this).val();
              jsonItem.Descripcion = value;
            }
            if(typeInp == 'img'){
              let value = $(this).prop("files");
              if(value[0]){
                jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                jsonItem.Files = value[0];
              }else{
                jsonItem.Url = $(this).attr('customValue');
              }
            }
          });
        break;
        case 'texto-imagen':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'img'){
              let value = $(this).prop("files");
              if(value[0]){
                jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                jsonItem.Files = value[0];
              }else{
                jsonItem.Url = $(this).attr('customValue');
              }
            }
            if ($(this).is(":checked")) {
                jsonItem.AgregarFondo = 1;
            }else {
                jsonItem.AgregarFondo = 0;
            }
          });
          $("#"+idElement).find("textarea").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'textarea'){
              let value = $(this).val();
              jsonItem.Descripcion = value;
            }
            
          });
        break;
        case 'acceso-cursos':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'link-access'){
              jsonItem.UrlDos = $(this).val();       
            }
            if(typeInp == 'titulo-access'){
              let value = $(this).val();
              jsonItem.Titulo = value;
            }
            if(typeInp == 'color-access'){
              let value = $(this).val();
              jsonItem.BackgroundColor = value;
            }
            if(typeInp == 'img-access'){
              let value = $(this).prop("files");
              if(value[0]){
                  jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                  jsonItem.Files = value[0];
              }else{
                  jsonItem.Url = $(this).attr("value");
              }
            }
          });
        break;
        case 'video-guía':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'video'){
              let value = $(this).prop("files");
              if(value[0]){
                jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                jsonItem.Files = value[0];
              }else{
                jsonItem.Url = $(this).attr("value");
              }                  
            }
            if(typeInp == 'text-guia'){
              let value = $(this).val();
              jsonItem.Descripcion = value;
            }
            if(typeInp == 'color-guia'){
              let value = $(this).val();
              jsonItem.BackgroundColor = value;
            }
          });
        break;
        case 'pop-up-video':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'upvideo-text'){
              let value = $(this).val();
              jsonItem.Descripcion = value;
            }
            if(typeInp == 'video'){
              let value = $(this).prop("files");
              if(value[0]){
                  jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                  jsonItem.Files = value[0];
              }else{
                  jsonItem.Url = $(this).attr("value");
              }
            }
          });
          $("#"+idElement).find("select").each(function() {
            let tipoCategoria = $(this).val();
            jsonItem.TipoCategoria = tipoCategoria;
          });
        break;
        case 'video':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'video'){
              let value = $(this).prop("files");
              if(value[0]){
                  jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                  jsonItem.Files = value[0];
              }else{
                  jsonItem.Url = $(this).attr("value");
              }
            }
          });
        break;
        case 'titulo':
          $("#"+idElement).find("input").each(function() {
            let value = $(this).val();
            jsonItem.Descripcion = value;
          });
        break;
        case "imagen-titulo-descripción":
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'titulo'){
                let value = $(this).val();
                jsonItem.Titulo = value;
            }
            if(typeInp == 'img1'){
                let value = $(this).prop("files");
                if(value[0]){
                    jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                    jsonItem.Files.push(value[0]);
                }else{
                    jsonItem.Url = $(this).attr("value");
                }
            }
          });
          $("#"+idElement).find("textarea").each(function() {
            let value = $(this).val();
            jsonItem.Descripcion = value;
          });
        break;
        case "desplegable-texto-imagen-imagen":
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'subtitulo'){
                let value = $(this).val();
                jsonItem.Subtitulo = value;
            }
            if(typeInp == 'img2'){
                let value = $(this).prop("files");
                if(value[0]){
                    jsonItem.UrlDos = window.location.origin+'/files/'+value[0].name;
                    jsonItem.Files.push(value[0]);
                }else{
                    jsonItem.UrlDos = $(this).attr('customValue');
                }
            }
            if(typeInp == 'img3'){
                let value = $(this).prop("files");
                if(value[0]){
                    jsonItem.UrlTres = window.location.origin+'/files/'+value[0].name;
                    jsonItem.Files.push(value[0]);
                }else{
                    jsonItem.UrlTres = $(this).attr('customValue');
                }
            }
            if(typeInp == 'check'){
              if ($(this).is(":checked"))  {
                  jsonItem.AgregarFondo = 1;
              }else {
                  jsonItem.AgregarFondo = 0;
              }
            }
          });
          $("#"+idElement).find("textarea").each(function() {
            let value = $(this).val();
            jsonItem.Descripcion = value;
          });
        break;
        case "titulo-descripción":
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'titulo'){
                let value = $(this).val();
                jsonItem.Titulo = value;
            }
          });
          $("#"+idElement).find("textarea").each(function() {
            let value = $(this).val();
            jsonItem.Descripcion = value;
          });
        break;
        case "subtitulo-descripción":
          $("#"+idElement).find("input").each(function() {
            let type = $(this).attr("type");
            let typeInp = $(this).attr("typeInput");
            if(type == 'text'){
                let value = $(this).val();
                jsonItem.Subtitulo = value;
            }
            if(typeInp == 'check'){
              if ($(this).is(":checked"))  {
                  jsonItem.AgregarFondo = 1;
              }else {
                  jsonItem.AgregarFondo = 0;
              }
            }
          });
          $("#"+idElement).find("textarea").each(function() {
            let value = $(this).val();
            jsonItem.Descripcion = value;
          });
        break;
        default:
          jsonItem = "";
      }
      return jsonItem;
    }
    function saveComponents(components) {
      components.map(function(item){
        const formData = new FormData();
        for ( var key in item ) {
            formData.append(key, item[key]);
        }
        $.ajax({
          type: "POST",
          url: "/Componentes/saveComponentForModulo2",
          headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
          data: formData,
          processData : false,
          contentType : false,
          success: function (response) {
            console.log('saved');
            console.log(response);
            item.Desplazantes.map(function(item){
                saveDesplazante(item, response.id);
            })
            
          }
        });
      })
    }
    function updateComponents(components) {
      components.map(function(item){
        const formData = new FormData();
        for ( var key in item ) {
            formData.append(key, item[key]);
        }
        $.ajax({
          type: "POST",
          url: "/Componentes/updateComponentForModulo2",
          headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
          data: formData,
          processData : false,
          contentType : false,
          success: function (response) {
            console.log('updated');
            console.log(response);
            item.Desplazantes.map(function(item){
                let isDb = item.Id === "0";
                if(isDb){
                    saveDesplazante(item, response.id);
                }else{
                    updateDesplazante(item, response.id);
                }
            })
          }
        });
      })
    }
    function saveDesplazante(item, id) {
        console.log('guardar desplazantes');
        item.IdComponente = id;
        const formData = new FormData();
        for ( var key in item ) {
            formData.append(key, item[key]);
        }
        $.ajax({
          type: "POST",
          url: "/Componentes/saveDesplazantes",
          headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
          data: formData,
          processData : false,
          contentType : false,
          success: function (response) {
            console.log('saved desplazante');
            console.log(response);
          }
        });
    }
    function updateDesplazante(item, id) {
        console.log('actualizar desplazantes');
        item.IdComponente = id;
        const formData = new FormData();
        for ( var key in item ) {
            formData.append(key, item[key]);
        }
        $.ajax({
          type: "POST",
          url: "/Componentes/updateDesplazantes",
          headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
          data: formData,
          processData : false,
          contentType : false,
          success: function (response) {
            console.log('updated desplazante');
            console.log(response);
          }
        });
    }
</script>
}