@model kiosko.Models.Modulo;
@{
    ViewData["Title"] = "Details";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h2>@Html.DisplayFor(model => model.Titulo)</h2>
            <div class="row">
                <div class="col-lg-8">
                    <input type="hidden" value="@Html.DisplayFor(model => model.Id)" id="idModulo" />
                    <div class="row" id="containerComponents">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Menu components</h5>
                            <br />
                            <ul id="menu">
                                <li class="option-menu" onclick="addComponent('texto', 0)">Texto</li>
                                <li class="option-menu" onclick="addComponent('subtitulo', 0)">Subtitulo</li>
                                <li class="option-menu" onclick="addComponent('imagen', 0)">Imagen</li>
                                <li class="option-menu" onclick="addComponent('desplazante-texto-imagen', 0)">Desplazante Texto-Imagen</li>
                                <li class="option-menu" onclick="addComponent('video', 0)">Video</li>
                                <li class="option-menu" onclick="addComponent('enlace', 0)">Enlace</li>
                                <li class="option-menu" onclick="addComponent('banner-informativo', 0)">Banner Informativo</li>
                                <li class="option-menu" onclick="addComponent('pop-up-video', 0)">Pop-Up Video</li>
                                <li class="option-menu" onclick="addComponent('video-guia', 0)">video-guia</li>
                                <li class="option-menu" onclick="addComponent('acceso-cursos', 0)">Acceso-cursos</li>
                                <li class="option-menu" onclick="addComponent('carrucel', 0)">Carrucel</li>
                                <li class="option-menu" onclick="addComponent('pop-up', 0)">Pop-up</li>
                                <li class="option-menu" onclick="addComponent('desplegable-texto-imagen', 0)">Desplegable texto-imagen</li>
                            </ul>
                            <button class="btn btn-block btn-warning" onclick="saveChanges()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </section>
</div>
@section scripts {
<script type="text/javascript">
    $(function () {
        console.log('entro');
       $("#containerComponents").sortable();
    });
    var idModulo = $("#idModulo").val();
    console.log(idModulo);
    var padre = "modulo"+idModulo;
    var indexImagen = 1;
    var indexCardTi = 1;
    var indexCardIm = 1;
    var DropzoneVideo;
    $.ajax({
          type: "POST",
          url: "/Componentes/GetAllComponentsForModulo",
          data: { "idModulo": idModulo},
          success: function (response) {
            console.log(response);
            response.map(item => {
              addComponent(item.tipoComponente, item.id, item);
            });
          }
    });

    function addComponent(type, pkId, item) {
      let component = generateComponent(type, pkId, item);
      $("#containerComponents").append(component.component);
    }

    function removeComponent(idComponent) {
      $("#"+idComponent).remove();
    }

    function generatePreview(stringId,indexImagen,type) {
      let idImg = "imagen"+stringId+"-"+indexImagen;
      console.log(idImg);
      let idImglabel = "imagenlabel"+stringId+"-"+indexImagen;
      let idImgclose = "imagenclose"+stringId+"-"+indexImagen;
      let idPreview = "imgPreview"+stringId+"-"+indexImagen;
      let imgFile = $("#"+idImg).prop("files");
      imgFile = imgFile[0];
      let reader = new FileReader();
      reader.readAsDataURL(imgFile);
      $("#"+idImglabel).css("display","none");
      $("#"+idImgclose).css("display","block");
      let classBtnClose = "";
      switch(type) {
          case 'imagen':
            classBtnClose = "button-close";
          break;
          case 'carrucel':
            classBtnClose = "button-close-carroucel";
          break;
          default:
            classBtnClose = "button-close-small";
      }
      reader.onload = function() {
        let preview = $("#"+idPreview);
        $("#"+idPreview).empty();
        stringId = "'"+stringId+"'"
        $("#"+idPreview).append('<button id="imagenclose'+stringId+'-'+indexImagen+'"  class="'+classBtnClose+'"  onclick="deletePreview('+stringId+','+indexImagen+')">x</button>');
        imagen = document.createElement('img');
        imagen.src = reader.result;
        preview.innerHTML = "";
        preview.append(imagen);
      }
    }

    function deletePreview(stringId,indexImagen){
      let idImg = "imagen"+stringId+"-"+indexImagen;
      let idImglabel = "imagenlabel"+stringId+"-"+indexImagen;
      let idPreview = "imgPreview"+stringId+"-"+indexImagen;
      let idImgclose = "imagenclose"+stringId+"-"+indexImagen;
      $("#"+idImglabel).css("display","block")
      $("#"+idPreview).empty();
      $("#"+idImgclose).css("display","none")
    }

    function AddTextoImagen(stringId, type){
        let idImg = "imagen"+stringId+"-"+indexImagen;
        let idPreview = "imgPreview"+stringId+"-"+indexImagen;
        let newStringId = "'"+stringId+"'";
        let stringType = "'"+type+"'";
        let idImgLabel = "imagenlabel"+stringId+"-"+indexImagen;
        let idCardTi = "card-ti-"+stringId+"-"+indexCardTi;
        $("#text"+stringId).append(
            '<div class="card-texto-imagen" id="'+idCardTi+'" db-id="0">'+
              '<div class="card-imagen">'+
                  '<p>Imagen</p>'+
                  '<label for="'+idImg+'" id="'+idImgLabel+'" class="btn-img">'+
                    '<img src="/img/icono-imagen-chico.png" class="label-imagen-1"/>'+
                  '</label>'+
                  '<input type="file" id="'+idImg+'" onchange="generatePreview('+newStringId+','+indexImagen+','+stringType+')" typeInput="img" class="input-img">'+
                  '<div id="'+idPreview+'" class="preview-img-small"></div>'+
              '</div>'+
              '<input class="titulo-input mt-4" type="text" typeInput="titulo" placeholder="Titulo">'+
              '<br/>'+
              '<input type="text" placeholder="Texto" typeInput="texto" class="mt-4">'+
            '</div>'
        );
        indexImagen = indexImagen + 1;
        indexCardTi = indexCardTi + 1;
    }

    function generateDropImagen(stringId){
      Dropzone.autoDiscover = false;
      let DropImagen = {
        maxFilesize: 5,
        acceptedFiles: ".png",
        addRemoveLinks: true,
        clickable: true,
        thumbnailWidth: 140,
        thumbnailHeight: 140,
        init: function() {
          this.on("maxfilesexceeded", function(file) {
            this.removeAllFiles();
            this.addFile(file);
          });
        }
      }
      $("form#DropImagen"+stringId).dropzone(DropImagen);
    }

    function generatePreviewVideo(stringId){
      var file = $('#video'+stringId).prop('files');
      file = file[0];
      console.log(file);
      $("#videolabel"+stringId).css("display","none");
      $("#videoclose"+stringId).css("display","block");
      let readerVideo = new FileReader();
      readerVideo.readAsDataURL(file);
      readerVideo.onload = function(){
        let preVideo = $('#previewVideo'+stringId);
        $('#previewVideo'+stringId).empty();
        let videoId = "'"+stringId+"'"
        $('#previewVideo'+stringId).append('<button id="videoclose'+stringId+'"  class="button-close-video"  onclick="deletePreviewVideo('+videoId+')">x</button>');
        video=document.createElement('video');
        video.src = readerVideo.result;
        video.style.width = "400px";
        video.controls = true;
        preVideo.innerHTML = "";
        preVideo.append(video);
      }
    }

    function deletePreviewVideo(stringId){
      $("#videolabel"+stringId).css("display","block");
      $("#previewVideo"+stringId).empty();
      $("#videoclose"+stringId).css("display","none");
    }

    function addImageToCarroucel(stringId,type){
        console.log("Entre")
        console.log(stringId)
        let idImg = "imagen"+stringId+"-"+indexImagen;
        let idLabelImg = "imagenlabel"+stringId+"-"+indexImagen;
        let idPreview = "imgPreview"+stringId+"-"+indexImagen;
        let newStringId = "'"+stringId+"'";
        let stringType = "'"+type+"'";
        let idCardIm = "card-img-"+stringId+"-"+indexCardIm;
        $("#containerCarroucel"+stringId).append(
            '<div class="card-imagen-carroucel" id="'+idCardIm+'" db-id="0">'+
                '<label for="'+idImg+'" id="'+idLabelImg+'" class="btn-img">'+
                 '<img src="/img/icono-imagen-chico.png" class="label-imagen-1"/>'+
                '</label>'+
                '<input type="file" id="'+idImg+'" onchange="generatePreview('+newStringId+','+indexImagen+','+stringType+')" typeInput="img" class="input-img">'+
                '<div id="'+idPreview+'" class="preview-img-carroucel"></div>'+
            '</div>'
        );
        indexImagen = indexImagen + 1;
    }

    function generateCardsImages(stringId, idComponent, item, pkId, stringType) {
        let images = {
            "id": 0,
            "url": "",
            "titulo": null,
            "texto": null,
            "files": null,
            "idComponente": pkId
        }
        if(item.length > 0){
            images = item;
        }
        let component = "";
        images.map((item) => {
            let preview = "";
            let styleLabel = "";
            if(item.Id !== 0){
                styleLabel = 'style="display: none;"';
                preview = 
                '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img-carroucel">'+
                    '<button id="imagenclose'+idComponent+'-'+indexImagen+'"  class="button-close-carroucel"  onclick="deletePreview('+stringId+','+indexImagen+')">x</button>'+
                    '<img src="'+item.url+'" />'+
                '</div>';
            }else{
                preview = 
                '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img-carroucel"></div>';
            }
            component +=
            '<div class="card-imagen-carroucel" id="card-img-'+idComponent+'-'+indexCardIm+'" db-id="0">'+
                '<label for="imagen'+idComponent+'-'+indexImagen+'" id="imagenlabel'+idComponent+'-'+indexImagen+'" '+styleLabel+' class="btn-img">'+
                  '<img src="/img/icono-imagen-chico.png" class="label-imagen-1"/>'+
                '</label>'+
                '<input type="file" id="imagen'+idComponent+'-'+indexImagen+'" onchange="generatePreview('+stringId+','+indexImagen+','+stringType+')" typeInput="img" class="input-img">';
            component += preview;
            component +=
            '</div>';
            indexImagen = indexImagen + 1;
            indexCardIm = indexCardIm + 1;
        });
        return component;
    }

    function generateCardImage(stringId, idComponent, item, pkId, stringType) {
        let preview = "";
        let styleLabel = "";
        let urlImage = "";
        if(pkId !== 0){
            styleLabel = 'style="display: none;"';
            urlImage = item.url;
            preview = 
            '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img">'+
                '<button id="imagenclose'+idComponent+'-'+indexImagen+'"  class="button-close"  onclick="deletePreview('+stringId+','+indexImagen+')">x</button>'+
                '<img src="'+urlImage+'" />'+
            '</div>';
        }else{
            preview = 
            '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img"></div>';
        }
        let component = 
        '<label for="imagen'+idComponent+'-'+indexImagen+'" id="imagenlabel'+idComponent+'-'+indexImagen+'" '+styleLabel+' class="btn-img">'+
            '<img src="/img/icono-imagen-chico.png" class="image-icon"/>'+
        '</label>'+
        '<input type="file" id="imagen'+idComponent+'-'+indexImagen+'" onchange="generatePreview('+stringId+','+indexImagen+','+stringType+')" class="input-img" typeInput="img" value="'+urlImage+'">';
        component += preview;
        indexImagen = indexImagen + 1;
        return component;
    }

    function generateCardsDesplazante(stringId, idComponent, item, pkId, stringType) {
        let images = {
            "id": 0,
            "url": "",
            "titulo": null,
            "texto": null,
            "files": null,
            "idComponente": pkId
        }
        if(item.length > 0){
            images = item;
        }
        let component = "";
        images.map((item) => {
            let preview = "";
            let styleLabel = "";
            if(item.Id !== 0){
                styleLabel = 'style="display: none;"';
                preview = 
                '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img-small">'+
                    '<button id="imagenclose'+idComponent+'-'+indexImagen+'"  class="button-close-small"  onclick="deletePreview('+stringId+','+indexImagen+')">x</button>'+
                    '<img src="'+item.url+'" />'+
                '</div>';
            }else{
                preview = 
                '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="preview-img-small"></div>';
            }
            component +=
            '<div class="card-texto-imagen" id="card-ti-'+idComponent+'-'+indexCardTi+'" db-id="0">'+
                      '<div class="card-imagen">'+
                          '<p>Imagen</p>'+
                          '<label for="imagen'+idComponent+'-'+indexImagen+'" id="imagenlabel'+idComponent+'-'+indexImagen+'" '+styleLabel+' class="btn-img">'+
                            '<img src="/img/icono-imagen-chico.png" class="label-imagen-1"/>'+
                          '</label>'+
                          '<input type="file" id="imagen'+idComponent+'-'+indexImagen+'" onchange="generatePreview('+stringId+','+indexImagen+','+stringType+')" typeInput="img" class="input-img">';
            component += preview;
            component +=
                      '</div>'+
                      '<input class="titulo-input mt-4" type="text" typeInput="titulo" placeholder="Titulo" value="'+item.titulo+'">'+
                      '<br/>'+
                      '<input type="text" placeholder="Texto" typeInput="texto" class="mt-4" value="'+item.texto+'">'+
                    '</div>';
            indexImagen = indexImagen + 1;
            indexCardIm = indexCardIm + 1;
        });
        return component;
    }

    function generateComponent(type, pkId, item) {
        let idComponent = Math.random().toString(36).substring(2,7);
        let stringId = "'"+idComponent+"'";
        let stringType = "'"+type+"'";
        let component = "";
        switch(type) {
          case 'texto':
            let valueInpText = (item) ? item.descripcion : "";
            component =
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="texto">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                '<p>'+
                '<input class="inputTexto" type="text" value="'+valueInpText+'">'+
              '</div>';
          break;
          case 'subtitulo':
            let valueInpSub = (item) ? item.subtitulo : "";
            component =
              '<div class="col-lg-12 texto component" db-id="'+pkId+'" id="'+idComponent+'" type-component="subtitulo">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                '<p>'+
                '<input class="inputTexto" type="text" value="'+valueInpSub+'">'+
              '</div>';
          break;
          case 'imagen':
            let valueInpImg = (item) ? item.url : "";
            let valueInpPie = (item) ? item.descripcion : "";
            component =
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="imagen">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                '</p>'+
                '<div class="container-texto-imagen">';

            let image = generateCardImage(stringId, idComponent, item, pkId, stringType);
            component += image;
                    
            component +=
                    '<input class="w-100 mt-1 inputTexto" type="text" placeholder="Pie de Foto" typeInput="pie-foto" value="'+valueInpPie+'"/>'+
                '</div>'+
                '<div>'+
              '</div>';
              indexImagen = indexImagen + 1;
          break;
          case 'desplazante-texto-imagen':
            component =
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="desplazante-texto-imagen">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                '<p>'+
                '<div class="row container-dezplazante-texto-imagen">'+
                  '<div class="desplazante-texto-imagen" id="text'+idComponent+'">';

            let desplazantes = generateCardsDesplazante(stringId, idComponent, item.desplazantes, pkId, stringType);
            component += desplazantes;
                    
            component +=
                  '</div>'+
                  '<div class="button-container">'+
                    '<button onclick="AddTextoImagen('+stringId+','+stringType+')" class="btn-add-more">+</button>'+
                  '</div>'+
                '</div>'+
              '</div>';
              indexImagen = indexImagen + 1;
              indexCardTi = indexCardTi + 1;
          break;
          case 'video':
            component =
              '<div class="col-lg-12 texto component" db-id="'+pkId+'" id="'+idComponent+'" type-component="video">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                '<p>'+
                '<div class="container-texto-imagen">'+
                    '<label for="video'+idComponent+'" id="videolabel'+idComponent+'" class="btn-img">'+
                        '<img src="/img/video.png" class="video-icon"/>'+
                    '</label>'+
                    '<input type="file" accept="video/*" id="video'+idComponent+'" onchange="generatePreviewVideo('+stringId+')" class="input-img">'+
                    '<div id="previewVideo'+idComponent+'" class="preview-img"></div>'+
                '</div>'+
              '</div>';
          break;
          case 'carrucel':
            component =
              '<div class="col-lg-12 component" db-id="'+pkId+'" id="'+idComponent+'" type-component="carrucel">'+
                '<p class="tituloCmp">'+type+
                  '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                '<p>'+
                '<div class="row container-carroucel">'+
                  '<div class="carroucel" id="containerCarroucel'+idComponent+'">';

            let images = generateCardsImages(stringId, idComponent, item.desplazantes, pkId, stringType);
            component += images;
           
            component +=
                  '</div>'+
                  '<div class="button-container">'+
                    '<button onclick="addImageToCarroucel('+stringId+','+stringType+')" class="btn-add-more">+</button>'+
                  '</div>'+
                '</div>'+
              '</div>';
              indexImagen = indexImagen + 1;
              indexCardIm = indexCardIm + 1;
          break;
          default:
            component = "";
        }
        return {component: component, idComponent: idComponent, indexImagen: indexImagen};
    }

    function saveChanges() {
        let toInsert = [];
        let toUpdate = [];
        $(".component").each(function(index){
          let currentComponent = $(this);
          let idElement = currentComponent.attr('id');
          let idComponent = currentComponent.attr('db-id');
          let typeElement = currentComponent.attr('type-component');
          console.log(idElement+'-'+idComponent+'-'+typeElement);
          let item = formJsonComponent(idElement, typeElement, idComponent);
          item.Id = idComponent;
          item.Padre = padre;
          item.TipoComponente = typeElement;
          item.Orden = index+1;
          item.IdModulo = idModulo;
          if(idComponent != 0) {
            toUpdate.push(item);
          }else{
            toInsert.push(item);
          }
          console.log(toInsert);
          console.log(toUpdate);
          //saveComponents(toInsert);
          //updateComponents(toUpdate);
        });
    }
    function formJsonComponent(idElement, typeElement, idComponent) {
      let jsonItem =
      {
        "Id": null,
        "Padre": null,
        "TipoComponente": null,
        "Url": null,
        "Descripcion": null,
        "BackgroundColor": null,
        "AgregarFondo": 0,
        "Titulo": null,
        "Subtitulo": null,
        "Orden": null,
        "IdModulo": null,
        "Files": null,
        "Desplazantes": []
      }
      let jsonDesplazante = {
        "Id": null,
        "Url": null,
        "Titulo": null,
        "Texto": null,
        "Files": null,
        "IdComponente": null
      }
      switch(typeElement) {
        case 'texto':
          $("#"+idElement).find("input").each(function() {
            let value = $(this).val();
            jsonItem.Descripcion = value;
          });
        break;
        case 'subtitulo':
          $("#"+idElement).find("input").each(function() {
            let value = $(this).val();
            jsonItem.Subtitulo = value;
          });
        break;
        case 'imagen':
          $("#"+idElement).find("input").each(function() {
            let typeInp = $(this).attr("typeInput");
            if(typeInp == 'img'){
                let value = $(this).prop("files");
                if(value[0]){
                    jsonItem.Url = window.location.origin+'/files/'+value[0].name;
                    jsonItem.Files = value[0];
                }else{
                    jsonItem.Url = $(this).attr("value");
                }
            }
            if(typeInp == 'pie-foto'){
                let value = $(this).val();
                jsonItem.Descripcion = value;
            }
          });
        break;
        case 'desplazante-texto-imagen':
          $("#"+idElement).find(".card-texto-imagen").each(function() {
            let id = $(this).attr('id');
            let pkey = $(this).attr('db-id');
            console.log(id);
            $("#"+id).find("input").each(function() {
                let typeInp = $(this).attr("typeInput");
                if(typeInp == 'img'){
                    let value = $(this).prop("files");
                    if(value[0]){
                        jsonDesplazante.Url = window.location.origin+'/files/'+value[0].name;
                        jsonDesplazante.Files = value[0];
                    }else{
                        jsonDesplazante.Url = $(this).attr("value");
                    }
                }
                if(typeInp == 'titulo'){
                    let value = $(this).val();
                    jsonDesplazante.Titulo = value;
                }
                if(typeInp == 'texto'){
                    let value = $(this).val();
                    jsonDesplazante.Texto = value;
                }
            });
            jsonDesplazante.Id = pkey;
            jsonItem.Desplazantes.push(jsonDesplazante);
            jsonDesplazante = {
                "Id": null,
                "Url": null,
                "Titulo": null,
                "Texto": null,
                "Files": null,
                "IdComponente": null
            }
          });
        break;
        case 'carrucel':
          $("#"+idElement).find(".card-imagen-carroucel").each(function() {
            let id = $(this).attr('id');
            let pkey = $(this).attr('db-id');
            console.log('id cardd-'+id);
            $("#"+id).find("input").each(function() {
                let typeInp = $(this).attr("typeInput");
                if(typeInp == 'img'){
                    let value = $(this).prop("files");
                    if(value[0]){
                        jsonDesplazante.Url = window.location.origin+'/files/'+value[0].name;
                        jsonDesplazante.Files = value[0];
                    }else{
                        jsonDesplazante.Url = $(this).attr("value");
                    }
                }
            });
            jsonDesplazante.Id = pkey;
            jsonItem.Desplazantes.push(jsonDesplazante);
            jsonDesplazante = {
                "Id": null,
                "Url": null,
                "Titulo": null,
                "Texto": null,
                "Files": null,
                "IdComponente": null
            }
          });
        break;
        default:
          jsonItem = "";
      }
      return jsonItem;
    }

    function saveComponents(components) {
      components.map(function(item){
        const formData = new FormData();
        for ( var key in item ) {
            formData.append(key, item[key]);
        }
        console.log(formData);

        $.ajax({
          type: "POST",
          url: "/Componentes/saveComponentForModulo2",
          headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
          data: formData,
          processData : false,
          contentType : false,
          success: function (response) {
            console.log('saved');
            console.log(response);
            saveDesplazantes(item.Desplazantes, response.id);
          }
        });
      })
    }

    function updateComponents(components) {
      components.map(function(item){
          console.log(item);
        $.ajax({
          type: "POST",
          url: "/Componentes/updateComponentForModulo",
          headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
          data: item,
          success: function (response) {
            console.log('saved');
          }
        });
      })
    }

    function saveDesplazantes(desplazantes, id) {
      desplazantes.map(function(item){
        item.IdComponente = id;
        const formData = new FormData();
        for ( var key in item ) {
            formData.append(key, item[key]);
        }
        $.ajax({
          type: "POST",
          url: "/Componentes/saveDesplazantes",
          headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
          data: formData,
          processData : false,
          contentType : false,
          success: function (response) {
            console.log('saved desplazante');
            console.log(response);
          }
        });
      })
    }
    /*
    '<ul class="contendor-lista" id="cardImagen'+idComponent+'-'+indexImagen+'">'+
                      '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeCardImagen('+stringId+','+indexImagen+')">'+
                      '<label for="imagen'+idComponent+'-'+indexImagen+'" id="imagenlabel'+idComponent+'-'+indexImagen+'" class="estilos-desplazante"><img src="/img/icono-imagen-pqueño.png" class="desplazante"></label>'+
                      '<li><input type="file" id="imagen'+idComponent+'-'+indexImagen+'" class="input-desplegable-texto-imagen" onchange="generatePreview('+stringId+','+indexImagen+','+stringType+')"></li>'+
                      '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="estilo-imagen-desplazante"></div>'+
                    '</ul>'+
    */
</script>
}