@model IEnumerable<kiosko.Models.Modulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccesoDirecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccesoDirecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orden)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="/img/Vector.png" alt="icon trash"></a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="/img/iconTrash.png" alt="icon trash"></a>
            </td>
        </tr>
}
    </tbody>
</table>
